main {
    border: 3px solid black;
    display: flex;
    flex-direction: column;

}

section {
    height: 100vh;
    padding: 32px;
}

main p {
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Clash Grotesk';
    text-align: center;
}


#main1 {
    background-color: rgb(188, 240, 216);
    display: flex;
    align-items: center;
}



#main2 {
    background-color: rgb(253, 251, 108);
}

#main3 {
    background-color: rgb(247, 128, 128);
}

#main4 {
    background-color: rgb(170, 155, 250);
}

#main5 {
    background-color: rgb(248, 166, 221);
}