main {
    display: flex;
    flex-direction: column;
}

section {
    height: 100vh;
    padding: 64px;
}

main h2 {
    font-size: 6vw;
    font-weight: 900;
    font-family: 'Clash Grotesk';
    text-align: center;
}


#home {
    background-color: rgb(188, 240, 216);
    display: flex;
    align-items: center;
}



#about {
    background-color: rgb(253, 251, 108);

}

#stack {
    background-color: rgb(247, 128, 128);
}

#projects {
    background-color: rgb(170, 155, 250);



}

#education {
    background-color: rgb(248, 166, 221);
}

#blog {
    background-color: rgb(166, 229, 248);
}

#contact {
    background-color: rgb(248, 213, 166);
}