#main1,#main2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main1 p,#main2 p {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Clash Grotesk';
    animation: colorAnimation 2s infinite ease-out;
}

@keyframes colorAnimation {
    from{
        color: blueviolet;
    }

    50%{
        color: blue;
    }
    70%{
        color: darkred;
    }
    to{
        color: black;
    }
    
}