@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Clash Display';
    src: url('/asset/fonts/ClashDisplay-Variable.ttf');
}

@font-face {
    font-family: 'Clash Grotesk';
    src: url('/asset/fonts/ClashGrotesk-Variable.ttf');
}


@font-face {
    font-family: 'Satoshi Variable';
    src: url('/asset/fonts/Satoshi-Variable.ttf');
    font-weight: bolder;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Clash Grotesk', sans-serif;
    font-family: 'Satoshi Variable' !important;
    scroll-behavior: smooth;
    text-transform: lowercase !important;
}



body {
    display: flex;
    flex-direction: column;
    background-color: rgb(32, 32, 32);
    font-size: 16px;
    background-color: #ffd5d5;

}

main {
    display: flex;
    flex-direction: column;
    /* width: 100vw; */

}

section {
    padding: 70px 30px;
    width: 100%;

}

#about {
    /* background-color: rgb(255, 222, 10); */

}

#projects {
    background-color: rgb(0, 0, 0);
    color: yellow;
}


#blog {
    background-color: rgb(255, 222, 10);

}

#contact {
    /* background-color: rgb(162, 129, 204); */
}

footer {
    background-color: rgb(0, 0, 0);
    color: azure;

}