body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(169, 134, 173);
    color: rgb(0, 0, 0);
    font-family: 'Josefin Slab', serif;
    font-family: 'Poppins', sans-serif;
}

.container{
    text-align: center;
    width: 400px;
    position: relative;
}

.counter{
    font-size: 40px;
}
.loading-bar-back{
    position: absolute;
    height: 8px;
    background-color: rgb(250, 250, 250);
    width: 100%;
    border-radius: 5px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.loading-bar-front{
    position: absolute;
    height: 8px;
    background-color:  rgba(68, 6, 104, 0.87);
    width: 0%;
    border-radius: 5px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.social-icon{
    padding: 0;
    margin: 0;
    width: 50%;
}
.social-media{
    display: flex;
}
