*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

body {
  background-color: hsl(51, 54%, 2.5%);
  color: #eeebd3;
  font-family: "Lexend Giga", serif;
  font-optical-sizing: auto;
  font-display: block;

  font-weight: 100;
  font-style: normal;
  position: relative;
  padding-left: 50px;
}

header {
  padding-top: 5px;
}

p {
  max-width: 800px;
}

.basket-ball-img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 48px;
  height: 48px;
}
.logo {
  position: absolute;
  right: 48px;
  top: 48px;
  width: 48px;
  height: 48px;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  justify-content: space-between;
  column-gap: 50px;
}
a {
  color: rgb(247, 184, 184);
  font-weight: 200;
}

#projects {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#projects h2 {
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-card {
}

.project-card:hover {
}

.project-card img {
}

.project-card h3 {
}

.project-card p {
}

.stack {
}

.stack li {
}

.links {
  display: flex;
  gap: 5px;
}

.links a {
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

#game-of-life {
  text-decoration: underline;
  font-weight: 300;
  position: relative;
  cursor: pointer;
}

#game-of-life:hover {
  color: indianred;
  text-decoration: none;
  background: url("/public/images/GameofLife.gif") no-repeat center center;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
