@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: none;
  text-transform: lowercase;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
html.light {
  /* Light theme styles */
  background-color: #eeeeec;
  color: #111110;
}

html.dark {
  /* Dark theme styles */
  background-color: #111110;
  color: #eeeeec;
}

::-moz-selection {
  color: rgb(255, 0, 0);
}

::selection {
  color: #f04848;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-3px);
  }
}

.hover\:animate-bounce-1:hover circle:nth-child(1) {
  animation: bounce 0.6s ease-in-out 1s;
  animation-delay: 0.3s;
}

.hover\:animate-bounce-2:hover circle:nth-child(2) {
  animation: bounce 0.6s ease-in-out 1s;
  animation-delay: 0.2s;
}

.hover\:animate-bounce-3:hover circle:nth-child(3) {
  animation: bounce 0.6s ease-in-out 1s;
  animation-delay: 0.1s;
}
